html, body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(../images/homeBKG.jpg);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
}

#forms{
	position:absolute;
	text-align: center;
	left: 5%;
	top: 10%;
	min-width: 400px;
	padding: 2%;
	width: 50%;

}
#forms h1{
	margin-top: 5%;
	margin-bottom: 5%;
	color: orange;
	font-family: 'Indie Flower', cursive;
	font-size: 72px;
}

#loginMenu{
	display: inline-block;
	width: 45%;

	border: 2px outset grey;
	padding: 1%;
}

#registerMenu{
	display: inline-block;
	width: 45%;

	border: 2px outset grey;
	padding: 1%;
}

input {
	padding:5px;
	border:3px solid #ccc;
	font-size:16px;
	font-family:raleway;
	margin-bottom: 5px;
	width:90%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes buttonColors {
     50% {background: red bottom right/50px 50px;}
}

/* Standard syntax */
@keyframes buttonColors {
   50% {background: red bottom right/50px 50px;}
}


input[id=loginbutton]:hover,input[type=submit]:hover{
	background-color: orange;
	-webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
    	animation: buttonColors 2s infinite;
}

input[id=loginbutton]{
	margin-top:25px;
}

input[type=submit] {
	text-decoration:none;
	width:50%;
	text-align:center;
	background-color:#FFBC00;
	color:#fff;
	border:1px solid #FFCB00;
	padding:10px 0;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
}