html, body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	color: white;
	font-family: sans-serif;
	background-image: url(../images/homeBKG.jpg);
}

#header{
	background-color: #585858;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px outset #D0D0D0;
}

#data{
	margin-left: 10px;
	width: 20%;
	text-align:center;
	color: orange;
	display: inline-block;
}

#searchEvent{
	position: absolute;
	display: inline-block;
	left: 20%;
}

#createEventbutton{
	cursor: pointer;
	position: absolute;
	display: inline-block;
	right: 50%;
	background-color: orange;
	color: black;
	padding: 3px;
	border: 2px outset grey;
}

#user{
	position: absolute;
	display: inline-block;
	right: 5%;
	color: Gold;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
}

#userOptions{
	border: 1px outset black;
	background-color: grey;
	color: black;
	padding: 3px;
	position: absolute;
	right: 5%;
	top: 5%;
	z-index: 1;
	width: 10%;
}

#userOptions p{
	margin: 0px;
	cursor: pointer;
}

#createEvent{
	position: absolute;
	width: 50%;
	height: 70%;
	left: 25%;
	top: 15%;
	background-color: white;
	z-index: 1;
	display: none;

	border: 2px outset grey;
	padding: 1%;
	padding-top: 1.8%;
	text-align: center;
	background-image: url(../images/createEve.jpg);
}

#createEvent h1{
	color: black;
}

#createEvent input {
	padding:5px;
	border:1px solid #ccc;
	font-size:16px;
	font-family:raleway;
	margin-bottom: 5px;
	width:50%;
}

#createEvent input[type=submit] {
	text-decoration:none;
	width:50%;
	text-align:center;
	background-color:#FFBC00;
	color:#fff;
	border:1px solid #FFCB00;
	padding:10px 0;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
}


#eventList{
	float: left;
	width: 40%; 
	height: 90%; 
	overflow-y: scroll;
	border-right: 1px outset white;
}

#eventList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#eventList::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#eventList::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.listEvents{
	border: 2px outset grey;
	height: 20%;
	cursor: pointer;
}

.listEvents .title{
	color: orange;
	font-weight: bold;
}

.listEvents .date{
	font-style: italic;
}

.listEvents .location{
	color: grey;
}

.eventResume{
	margin: 1%;
	float: right;
	text-align: center;
}

#eventList .eventImage img{
	margin-left: 2%;
	max-height: 120px;
	max-width: 120px;
}

#eventInfo{
	background-color: white;
	opacity: 0.8;
	float: right;
	color: black;
	width: 59%; 
	height: 90%; 
	overflow-y: scroll;
	border-right: 1px outset white;
}

#eventInfo::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#eventInfo::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#eventInfo::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

#eventInfo .Fhost{
	margin-top: 2%;
	text-align: center;
}

.Fmypres {
	width: 20%;
}

.FstopF, .FgoingF {
  background: #f59403;
  background-image: -webkit-linear-gradient(top, #f59403, #b85c2b);
  background-image: -moz-linear-gradient(top, #f59403, #b85c2b);
  background-image: -ms-linear-gradient(top, #f59403, #b85c2b);
  background-image: -o-linear-gradient(top, #f59403, #b85c2b);
  background-image: linear-gradient(to bottom, #f59403, #b85c2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.FstopF:hover, .FgoingF:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #b83333);
  background-image: -moz-linear-gradient(top, #fc3c3c, #b83333);
  background-image: -ms-linear-gradient(top, #fc3c3c, #b83333);
  background-image: -o-linear-gradient(top, #fc3c3c, #b83333);
  background-image: linear-gradient(to bottom, #fc3c3c, #b83333);
  text-decoration: none;
}

.FstopT, .FgoingT {
  background: #f59403;
  background-color: black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.deleteEvent{
	position: relative;
	margin: auto;
	width: 12%;
	cursor: pointer;
	border: 3px outset grey;
	background-color: orange;
	color: black;
}

#eventInfo .Ftitle{
	z-index: 100;
	text-align: center;
	color: orange;
	font-family: 'Indie Flower', cursive;
	font-size: 72px;
}

#eventInfo .Fdate{
	text-align: center;
	font-style: italic;
}

#eventInfo .Ftime{
	text-align: center;
	font-style: italic;
}

#eventInfo .Ftype{
	text-align: center;
	font-style: italic;
}

#eventInfo .Flocation{
	text-align: center;
}

#eventInfo .Fdescription{
	margin: 5%;
}

#eventInfo .FeventImage img{
	z-index: -1;
	opacity: 1;
	position: absolute;
	top: 10%;
	left: 41%;
	max-height: 150px;
	max-width: 500px;
}

#Fcomments{
	border: 2px solid grey;
	padding: 0.5%;
}

#Fcomments #addComment{
	border: 3px inset orange;
	background-color: grey;
}

#Fcomments #addComment input[type=text]{
	width: 95%;
    position: relative;
    left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#Fcomments #addComment input[type=submit]{
	position: relative;
    left: 82%;
    margin-bottom: 1%;
}

.FcomUser{
	color: blue;
	font-style: italic;
	font-weight: bolder;
}

.FcomBody{
	border: 1px solid grey;
	margin-bottom: 2%;
	margin-left: 1%;
}
    